
.whole-show-page {
  max-width: 1280px;
  display: block;
  margin: auto;
}

.listing-show-page {
  padding: 15px 65px 20px 70px;
}

.title-subtitle-outter-wrapper {
  margin: 5px 0px 18px 0px;
}

.title {
  font-size: 32px;
  font-weight: 600;
  padding-bottom: 6px;
}

.subtitle-wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  height: 30px;

}

.icon {
  height: 14px;
  width: 14px;
}

.subtitle-left {
  display: flex;
  align-items: center;
}

.subtitle-left-item {
  padding-left: 7px;
}

#show-icon-rating-text {
  font-weight: bold;
}

#show-icon-review-text {
  text-decoration: underline;
  font-weight: bold;
}

#show-icon-badge {
  height: 14px;
  width: 6px;
}

.location {
  text-decoration: underline;
  font-weight: bold;
}

.subtitle-right {
  display: flex;
  flex-direction: row;
}

#share-button {
  display: flex;
  background: none;
  border: none;
  align-items: center;
}

#share-button:hover {
  background-color: rgb(241, 239, 239);
  border-radius: 5px;
}

#like-button {
  display: flex;
  background: none;
  border: none;
  align-items: center;
}

#like-button:hover {
  background-color: rgb(241, 239, 239);
  border-radius: 5px;
}

.picture-wrapper {
  display: flex;
}

.show-main-pic-container {
  height: 502px;
  width: 560px;
}

.show-main-pic {
  object-fit: cover;
  height: 500px;
  width: 550px;
  border-radius: 10px 0px 0px 10px;
}

.show-images-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  row-gap: 5px;
}

.show-pic {
  object-fit: cover;
  height: 245px;
  width: 250px;
}

#listing-show-pic-2 {
  border-top-right-radius:10px;
}

#listing-show-pic-4 {
  border-bottom-right-radius: 10px;
}

.showpage-content-outter-wrapper {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 40px 12px 18px 10px;
}

.showpage-content-inner-wrapper {
  width: calc(59% - 70px);
  padding: 0px 40px 0px 15px;
}

.showpage-summary-host {
  font-size: 26px;
  font-weight: bold;
  margin: 5px 0px 20px 0px;
}

.showpage-summary-stats {
  margin: 10px 0px 30px 0px;
}

.showpage-line {
  height: 1px;
  background-color: rgb(244, 236, 236);
  margin: 40px 0px 40px 0px;
}

.show-subtitle-content {
  display: flex;
  margin: 20px 0px ;
}

.show-subtitle-content > img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.show-subtitle-content-title {
  font-weight: bold;
  margin: 5px 0px;
}

.show-subtitle-content-subtitle {
  color: gray;
  font-size: 13px;
  line-height: 18px;
}

.listing-show-inclusion-icon-title {
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 30px;
}

.listing-inclusion-icons {
  margin: 10px 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.amenity {
  display: inline;
  width: 30%;
  min-width: 120px;
}

.amenity > img {
  height: 18px;
  width: 18px;
  object-fit: cover;
  margin: 5px;
  vertical-align: middle;
}


.description-title {
  font-weight: bold;
  font-size: 20px;
  margin: 30px 0px 10px 0px;
}

.description-content {
  min-width: 300px;
  word-spacing: 6px;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 16px;
  line-height: 22px;
}

.description-wrapper > .button {
  background-color: white;
  border: none;
  margin-top: 10px;
  font-size: 16px;
  text-decoration: underline;
}

.listing-description-modal {
  margin: 30px;
}

.closebutton {
  font-size: 20px;
  margin: 0px 0px 40px 0px;
  background-color: white;
  border: none;
}

.listing-description-modal-body {
  overflow-y: auto;
  
}

.listing-description-modal-title {
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 20px;
}

.listing-description-modal-content {
  width: 700px;
  height: 500px;
  font-size: 16px;
  line-height: 30px;
  white-space: pre-line;
}

.reservation-wrapper {
  width: 30%;
}


.long-placeholder {
  border-width: 2px;
  border-style: solid;
  border-color: rgb(244, 236, 236);
  margin: 40px 12px 18px 10px;
  height: 400px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#show-page-review-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 20px;
  height: 800px;
}

.write-a-review-button {
  margin: 20px;
  width: 310px;
  height: 45px;
  border-radius: 10px;
  border: none;
  background-color: #660c14;
  color: white;
  font-size: 16px;
  letter-spacing: 2px;
  margin-left: 10px;
}

.show-page-review-index-wrapper {
  width: 99%;
}

.show-page-map-wrapper {
  height: 380px;
  width: 98%;
  object-fit: cover;
  border-radius: 10px;
}
