.review-index-item {
  margin: 10px 0px ;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(244, 236, 236);
  border-radius: 10px;
  height: 100px;
  padding: 10px;
}


.review-index-item-author {
  font-weight: bold;
  margin: 5px 0px 10px 0px;
}

.review-index-item-ratings {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.review-index-item-body {
  word-spacing: 6px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  overflow-y: auto;
  font-size: 16px;
  line-height: 22px;
}




.review-index-item- {}
.review-index-item- {}