.review-index-item {
  margin: 10px 0px ;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(244, 236, 236);
  border-radius: 10px;
  height: 130px;
  padding: 10px;
}


.review-index-item-author {
  font-weight: bold;
  margin: 5px 0px 10px 0px;
}

.review-index-item-ratings {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.review-index-item-body {
  word-spacing: 6px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: scroll;
  /* overflow-y: 3; */
  font-size: 16px;
  line-height: 22px;
}

.review-index-item-show-more-button {
  border: none;
  background-color: white;
  padding: 0;
  margin: 15px 0px;
  font-size: 16px;
};