.res-index-title {
  font-weight: bold;
  font-size: 24px;
  margin: 20px 0px 10px 150px ;
}

.res-index-subtitle {
  font: bold;
  font-size: 20px;
  margin: 20px 0px 10px 150px ;
}

.res-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px 15px 5px 15px;
  cursor: pointer;
}

.reservation-item-wrapper {
  background: yellow;
  display: flex;
  align-items: center;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(244, 236, 236);
  border-radius: 10px;
  height: 200px;
  width: 60vw;
  margin: 10px;
  padding: 10px;
}

.reservation-item-pic {
  border-radius: 10px;
  height: 150px;
  width: 150px;
  margin-right: 50px;
}

.reservation-item-right button {
  width: 110px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: #660c14;
  color: white;
  font-size: 14px;
  letter-spacing: 2px;
  margin: 5px 0px;
}